{
    "openapi": "3.1.0",
    "info": {
        "title": "Zoho Analytics API",
        "version": "v2",
        "description": "API for managing data in Zoho Analytics workspaces and views."
    },
    "servers": [
        {
            "url": "https://analyticsapi.zoho.com"
        }
    ],
    "tags": [
        {
            "name": "Modeling APIs",
            "description": "Modeling APIs manage workspaces, views, columns, and folders, and support copying across or within Zoho Analytics accounts."
        }
    ],
    "paths": {
        "/restapi/v2/workspaces": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Create Workspace",
                "description": "Create a blank workspace in the specified organization.",
                "operationId": "createWorkspace",
                "parameters": [
                    {
                        "name": "ZANALYTICS-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Organization ID (source org)."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/CreateWorkspaceConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateWorkspaceResponse"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "summary": "Create workspace",
                                            "data": {
                                                "workspaceId": "1767024000003145002"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Copy Workspace",
                "description": "Copy the specified workspace to another org or within the same org.",
                "operationId": "copyWorkspace",
                "parameters": [
                    {
                        "name": "ZANALYTICS-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Source Organization ID"
                    },
                    {
                        "name": "ZANALYTICS-DEST-ORGID",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Destination Organization ID"
                    },
                    {
                        "name": "workspace-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Workspace ID to be copied"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/CopyWorkspaceConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Workspace copied",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CopyWorkspaceResponse"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "summary": "Copy workspace",
                                            "data": {
                                                "workspaceId": "1767024000003145006"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            },
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Rename Workspace",
                "description": "Renames the specified workspace.",
                "operationId": "renameWorkspace",
                "parameters": [
                    {
                        "name": "ZANALYTICS-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Organization ID"
                    },
                    {
                        "name": "workspace-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID of the workspace to rename"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/RenameWorkspaceConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Workspace renamed successfully (No Content)"
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Delete Workspace",
                "description": "Deletes the specified workspace.",
                "operationId": "deleteWorkspace",
                "parameters": [
                    {
                        "name": "ZANALYTICS-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Organization ID"
                    },
                    {
                        "name": "workspace-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID of the workspace to delete"
                    }
                ],
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.delete"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Workspace deleted successfully (No Content)"
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/tables": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Create Table",
                "description": "Create a table in the specified workspace.",
                "operationId": "createTable",
                "parameters": [
                    {
                        "name": "ZANALYTICS-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Organization ID"
                    },
                    {
                        "name": "workspace-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Workspace ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/CreateTableConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Table created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateTableResponse"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "summary": "Create table",
                                            "data": {
                                                "viewId": "1767024000003145012"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/querytables": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Create Query Table",
                "description": "This API allows you to create a query table using a SQL SELECT query.",
                "operationId": "createQueryTable",
                "parameters": [
                    {
                        "name": "ZANALYTICS-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Organization ID"
                    },
                    {
                        "name": "workspace-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Workspace ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/CreateQueryTableConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Query table created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateQueryTableResponse"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "summary": "Create query table",
                                            "data": {
                                                "viewId": "1767024000003145013"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/querytables/{table-id}": {
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Edit Query Table",
                "description": "This API allows you to update an existing query table using a SQL SELECT query.",
                "operationId": "editQueryTable",
                "parameters": [
                    {
                        "name": "ZANALYTICS-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Organization ID"
                    },
                    {
                        "name": "workspace-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Workspace ID"
                    },
                    {
                        "name": "table-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Query Table ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/EditQueryTableConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Query table updated successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/reports": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Create Report",
                "description": "This API allows you to create a report (chart/table/pivot) in a workspace.",
                "operationId": "createReport",
                "parameters": [
                    {
                        "name": "ZANALYTICS-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Organization ID"
                    },
                    {
                        "name": "workspace-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Workspace ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/CreateReportConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Report created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateReportResponse"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "summary": "Create report",
                                            "data": {
                                                "reportId": "1767024000003145020"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/reports/{report-id}": {
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Update Report",
                "description": "This API allows you to update the metadata or design of an existing report.",
                "operationId": "updateReport",
                "parameters": [
                    {
                        "name": "ZANALYTICS-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Organization ID"
                    },
                    {
                        "name": "workspace-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Workspace ID"
                    },
                    {
                        "name": "report-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Report ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/UpdateReportConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Report updated successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/saveas": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Save As View",
                "description": "This API creates a new view by duplicating an existing one.",
                "operationId": "saveAsView",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/SaveAsViewConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New view created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SaveAsViewResponse"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "summary": "Saveas view",
                                            "data": {
                                                "viewId": "1767024000004723001"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/movetofolder": {
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Move Views To Folder",
                "description": "Moves multiple views into a specified folder.",
                "operationId": "moveViewsToFolder",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/MoveViewsToFolderConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Views moved successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}": {
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Rename View",
                "description": "Renames an existing view.",
                "operationId": "renameView",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/RenameViewConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "View renamed successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Delete View",
                "description": "Moves the view to trash.",
                "operationId": "deleteView",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/DeleteViewConfig"
                                    }
                                }
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.delete"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "View deleted and moved to trash."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/trash/{view-id}": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Restore Trash View",
                "description": "Restores a view from trash.",
                "operationId": "restoreTrashView",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/RestoreTrashViewConfig"
                                    }
                                }
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Trash view restored successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Delete Trash View",
                "description": "Permanently deletes a view from trash.",
                "operationId": "deleteTrashView",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/DeleteTrashViewConfig"
                                    }
                                }
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.delete"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "View deleted permanently from trash."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/folders": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Create Folder",
                "description": "Create a folder under a specified workspace to organize views.",
                "operationId": "createFolder",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/CreateFolderConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Folder created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateFolderResponse"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "summary": "Create folder",
                                            "data": {
                                                "folderId": "1767024000004578011"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ]
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/folders/{folder-id}": {
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Rename Folder",
                "description": "Rename an existing folder in the workspace.",
                "operationId": "renameFolder",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/folder-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/RenameFolderConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Folder renamed successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Delete Folder",
                "description": "Delete a folder from the workspace. Optionally delete views within.",
                "operationId": "deleteFolder",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/folder-id"
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/DeleteFolderConfig"
                                    }
                                }
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Folder deleted successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.delete"
                        ]
                    }
                ]
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/folders/{folder-id}/default": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Make Default Folder",
                "description": "Set the specified folder as the default folder for a given view type.",
                "operationId": "makeDefaultFolder",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/folder-id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Default folder set successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ]
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/folders/{folder-id}/move": {
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Change Folder Hierarchy",
                "description": "Update the hierarchy of a folder (parent or child) and set its parent if needed.",
                "operationId": "changeFolderHierarchy",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/folder-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/ChangeFolderHierarchyConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Folder hierarchy updated successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ]
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/folders/{folder-id}/reorder": {
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Change Folder Position",
                "description": "Reorder a folder by moving it relative to another folder.",
                "operationId": "changeFolderPosition",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/folder-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/ChangeFolderPositionConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Folder position updated successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ]
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Add Column",
                "description": "This API allows you to add a new column to the specified view.",
                "operationId": "addColumn",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/AddColumnConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Column added successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddColumnResponse"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "summary": "Add column",
                                            "data": {
                                                "columnId": "1767024000003145017"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/{column-id}": {
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Rename Column",
                "description": "This API allows you to rename a column.",
                "operationId": "renameColumn",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    },
                    {
                        "$ref": "#/components/parameters/column-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/RenameColumnConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Column renamed successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Delete Column",
                "description": "This API deletes the specified column from a view.",
                "operationId": "deleteColumn",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    },
                    {
                        "$ref": "#/components/parameters/column-id"
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/DeleteColumnConfig"
                                    }
                                }
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.delete"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Column deleted successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/{column-id}/lookup": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Add Lookup",
                "description": "This API adds a lookup relationship to a column.",
                "operationId": "addLookup",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    },
                    {
                        "$ref": "#/components/parameters/column-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/AddLookupConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Lookup added successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Remove Lookup",
                "description": "This API removes the lookup relationship from a column.",
                "operationId": "removeLookup",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    },
                    {
                        "$ref": "#/components/parameters/column-id"
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/RemoveLookupConfig"
                                    }
                                }
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.delete"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Lookup removed successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/hide": {
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Hide Columns",
                "description": "This API hides the specified columns in a view.",
                "operationId": "hideColumns",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/HideShowColumnConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Columns hidden successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/show": {
            "put": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Show Columns",
                "description": "This API shows the specified hidden columns in a view.",
                "operationId": "showColumns",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/HideShowColumnConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Columns shown successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{source-workspace-id}/views/copy": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Copy Views",
                "description": "Copy the specified views from one workspace to another workspace.",
                "operationId": "copyViews",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "name": "ZANALYTICS-DEST-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Id of the organization where the destination workspace is present."
                    },
                    {
                        "name": "source-workspace-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Source workspace ID"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/CopyViewsConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Views copied successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CopyViewsResponse"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "success",
                                            "summary": "Copy views",
                                            "data": {
                                                "views": [
                                                    {
                                                        "sourceViewId": "1767024000004221089",
                                                        "destViewId": "2102449000000625001"
                                                    },
                                                    {
                                                        "sourceViewId": "1767024000004221093",
                                                        "destViewId": "2102449000000625005"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/formulas/copy": {
            "post": {
                "tags": [
                    "Modeling APIs"
                ],
                "summary": "Copy Formulas",
                "description": "Copy the specified formulas from one table to another across workspaces.",
                "operationId": "copyFormulas",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    },
                    {
                        "name": "ZANALYTICS-DEST-ORGID",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Id of the organization where the destination workspace is present."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/CopyFormulasConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Formulas copied successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/similarviews": {
            "post": {
                "operationId": "createSimilarViews",
                "summary": "Create Similar Views",
                "description": "Create reports for the specified table based on the reference table.",
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "tags": [
                    "Modeling APIs"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSimilarViewsConfig"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content. Reports were created successfully."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/autoanalyse": {
            "post": {
                "operationId": "autoAnalyseView",
                "summary": "Auto Analyse View",
                "description": "Auto generate reports for the specified table.",
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "tags": [
                    "Modeling APIs"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AutoAnalyseViewConfig"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content. Reports were auto generated."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/restapi/v2/workspaces/{workspace-id}/views/{view-id}/columns/{column-id}/autoanalyse": {
            "post": {
                "operationId": "autoAnalyseColumn",
                "summary": "Auto Analyse Column",
                "description": "Auto generate reports for the specified column.",
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "tags": [
                    "Modeling APIs"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    },
                    {
                        "$ref": "#/components/parameters/column-id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content. Column reports generated."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/workspaces/{workspace-id}/variables": {
            "get": {
                "operationId": "getVariables",
                "summary": "Get all variables in a workspace",
                "description": "Retrieve a list of all variables created in the specified workspace.",
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.read"
                        ]
                    }
                ],
                "tags": [
                    "Modeling APIs"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetches all variables in the workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetVariablesResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            },
            "post": {
                "operationId": "createVariable",
                "summary": "Create a variable",
                "description": "Create a new variable in the specified workspace using a CONFIG JSON.",
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "tags": [
                    "Modeling APIs"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/VariableConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully created variable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateVariableResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/workspaces/{workspace-id}/variables/{variable-id}": {
            "get": {
                "operationId": "getVariableDetails",
                "summary": "Get details of a specific variable",
                "description": "Fetch metadata and configuration of a variable using its ID in a workspace.",
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.read"
                        ]
                    }
                ],
                "tags": [
                    "Modeling APIs"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/variable-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the variable metadata and configuration details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetVariableDetailsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            },
            "put": {
                "operationId": "updateVariable",
                "summary": "Update a variable",
                "description": "Update an existing variable in the specified workspace using the CONFIG JSON.",
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ],
                "tags": [
                    "Modeling APIs"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/variable-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/VariableConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Variable updated successfully. No response body."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            },
            "delete": {
                "operationId": "deleteVariable",
                "summary": "Delete a variable",
                "description": "Delete the specified variable from the workspace.",
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.delete"  
                            ]
                    }
                ],
                "tags": [
                    "Modeling APIs"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/variable-id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Variable deleted successfully. No response body."
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/workspaces/{workspace-id}/views/{view-id}/customformulas": {
            "post": {
                "operationId": "addFormulaColumn",
                "summary": "Add Formula Column",
                "description": "Add a new formula column to the specified view.",
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.create"
                        ]
                    }
                ],
                "tags": [
                    "Modeling APIs"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
                        "$ref": "#/components/parameters/workspace-id"
                    },
                    {
                        "$ref": "#/components/parameters/view-id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "CONFIG": {
                                        "$ref": "#/components/schemas/AddFormulaColumnConfig"
                                    }
                                },
                                "required": [
                                    "CONFIG"
                                ]
                            },
                            "encoding": {
                                "CONFIG": {
                                    "contentType": "application/json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully added formula column",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddFormulaColumnResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
                    }
                }
            }
        },
        "/workspaces/{workspace-id}/views/{view-id}/customformulas/{formula-id}": {
            "put": {
                "operationId": "editFormulaColumn",
                "summary": "Edit Formula Column",
                "description": "Update an existing formula column in the view.",
                "security": [
                    {
                        "iam-oauth2-schema": [
                            "ZohoAnalytics.modeling.update"
                        ]
                    }
                ],
                "tags": [
                    "Modeling APIs"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/org-id"
                    },
                    {
[...]
