{
  "openapi": "3.1.0",
  "info": {
    "title": "Zoho Analytics API",
    "version": "v2",
    "description": "API for Reports and Dashboards in Zoho Analytics - covering the creation, update and metadata retrieval of analysis views, and the listing, creation, metadata retrieval and update of dashboards."
  },
  "servers": [
    {
      "url": "https://analyticsapi.zoho.com"
    }
  ],
  "tags": [
    {
      "name": "Reports",
      "description": "APIs for creating, updating and reading the metadata of analysis views (charts, pivot tables and summary views) inside a workspace.\n\nAn analysis view is always built on top of a base table in the same workspace. Its whole definition - report type, chart sub-type, axis columns, filters, user filters, drill actions and display settings - travels in a single `CONFIG` JSON parameter that is shared, field for field, by all three APIs in this module.\n\n## Common request conventions\n\n| Header | Value | Required |\n|---|---|---|\n| `Authorization` | `Zoho-oauthtoken <oauth-token>` | Mandatory |\n| `ZANALYTICS-ORGID` | Organization ID owning the workspace | Mandatory |\n| `Content-Type` | `application/x-www-form-urlencoded` | POST and PUT only |\n\nFor Create and Update, `CONFIG` is a URL encoded JSON string sent as a form field named `CONFIG`. Get Report Metadata takes no `CONFIG` at all - every input is a URL path parameter.\n\nA `workspaceKey` in the format `orgid/workspacename` may be used in place of the numeric workspace ID in the URL path.\n\n`CONFIG` has a maximum serialized size of 10 MB for both Create and Update. The nested arrays `axisColumns`, `mergeAxisInfo`, `filters` and `userFilters` are the ones that realistically approach it.\n\n## OAuth scopes\n\n| API | Method | Scope |\n|---|---|---|\n| Create Analysis View | POST | `ZohoAnalytics.modeling.create` |\n| Update Analysis View | PUT | `ZohoAnalytics.modeling.update` |\n| Get Report Metadata | GET | `ZohoAnalytics.modeling.read` |\n\n## Response envelope\n\nEvery response follows the standard Zoho Analytics V2 envelope.\n\n**Update Analysis View returns a bare HTTP 204 No Content on success** - there is no JSON body to parse. Create Analysis View and Get Report Metadata return the envelope below; every API returns it on failure.\n\n- **status** - `success` or `failure`. Present in the JSON success responses of Create Analysis View and Get Report Metadata, and in every failure response.\n- **summary** - human readable message describing the result. Present only in the JSON success responses of Create Analysis View and Get Report Metadata.\n- **data.viewId** - Create only. The ID of the newly created analysis view; use it in the URL of later Update and Get Report Metadata calls.\n- **data.reportConfig** - Get Report Metadata only. The full stored configuration of the view.\n- **errorCode** and **errorMessage** - failure only.\n\n## Update is a reset, not a patch\n\nUpdate Analysis View replaces the whole configuration. Every axis column, filter, user filter and settings entry is overwritten with what was sent, fields that are omitted revert to their empty defaults, and `description` is cleared if it is left out. Always fetch, modify, then write back the complete configuration.\n\n**Read-modify-write**\n\n1. `GET /restapi/v2/workspaces/{workspace-id}/reports/{view-id}/metadata` and take `data.reportConfig`.\n2. Change only what needs to change - for example `chartType` from `bar` to `line`, or appending one entry to `axisColumns`. Carry the full `axisColumns`, `filters` and `userFilters` arrays through; anything dropped here is permanently removed from the view.\n3. `PUT` the complete modified object back as `CONFIG`.\n\n**Cloning a view**\n\n`data.reportConfig` is structurally identical to the Create `CONFIG`, so it doubles as a clone template. Give the clone a `title` that is unique in the workspace, keep `baseTableName`, and add `folderId` only if the copy belongs somewhere other than the default folder. When cloning across workspaces, every `columnName` and `tableName` in `axisColumns` must exist in the target workspace's base table.\n\n## Fields that behave unexpectedly on Update\n\n| Field | Behaviour | Recommendation |\n|---|---|---|\n| `title` | Silently ignored; the existing display name is always preserved. There is no V2 field to rename a view through Update. | Send it for clarity if you like, knowing it does nothing. |\n| `reportType` | Cannot be changed. A value that does not match the existing view type fails with error 8021. | Carry it unchanged from the Get Report Metadata response. |\n| `folderId` | If it differs from the view's current folder the request fails. The same value is a harmless no-op. | Omit it. It is not returned by Get Report Metadata, so it is naturally absent when the response is used as the base. |\n| `description` | Read from the CONFIG on every write. If absent it is set to null, clearing it. | Copy it from the Get Report Metadata response. |\n| `baseTableName` | Derived from the view's stored parent reference, not from the CONFIG. | Harmless to include; it has no effect. |\n| `axisColumns`, `filters`, `userFilters` | Fully replaced. Omitting them removes everything. | Send the full arrays unless the intent is to clear them. |\n| `mergeAxisInfo` | Required whenever `isAxisMerge` is true. | Omit both when axis merge is off. |\n\n## Axis type casing\n\nThe request samples use camelCase (`xAxis`, `yAxis`, `colorAxis`) while Get Report Metadata returns lowercase (`xaxis`, `yaxis`, `coloraxis`, `sizeaxis`, `textaxis`, `groupby`, `summarize`). The lowercase forms are documented as canonical. When building a `CONFIG` from a metadata response, copy the `type` values verbatim rather than re-casing them."
    },
    {
      "name": "Dashboard",
      "description": "APIs for listing dashboards accessible to a user, and for creating, reading and updating dashboards inside a workspace.\n\nThe module splits into two families that behave differently.\n\n- **Listing APIs** - Get All Dashboards, Get Owned Dashboards and Get Shared Dashboards. These operate at user service level and return dashboards across every organization the caller belongs to. No `ZANALYTICS-ORGID` header is needed, and the OAuth token must be issued with user level scope.\n- **Workspace-scoped APIs** - Create Dashboard, Get Dashboard Metadata and Update Dashboard. These operate on one workspace and require the `ZANALYTICS-ORGID` header.\n\n## Common request conventions\n\n| Header | Value | Required |\n|---|---|---|\n| `Authorization` | `Zoho-oauthtoken <oauth-token>` | Mandatory for every API |\n| `ZANALYTICS-ORGID` | Organization ID owning the workspace | Workspace-scoped APIs only |\n| `Content-Type` | `application/x-www-form-urlencoded` | Create and Update only |\n\nGet Shared Dashboards works on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped APIs are reachable on custom domains subject to additional permission checks.\n\n## OAuth scopes\n\n| API | Method | Scope |\n|---|---|---|\n| Get All Dashboards | GET | `ZohoAnalytics.metadata.read` |\n| Get Owned Dashboards | GET | `ZohoAnalytics.metadata.read` |\n| Get Shared Dashboards | GET | `ZohoAnalytics.metadata.read` |\n| Create Dashboard | POST | `ZohoAnalytics.modeling.create` |\n| Get Dashboard Metadata | GET | `ZohoAnalytics.modeling.read` |\n| Update Dashboard | PUT | `ZohoAnalytics.modeling.update` |\n\n## Response envelope\n\n- **status** - `success` or `failure`.\n- **summary** - human readable description of the completed operation.\n- **data.ownedViews** and **data.sharedViews** - Get All Dashboards only.\n- **data.views** - Get Owned Dashboards and Get Shared Dashboards; a single list, owned-only or shared-only depending on the endpoint.\n- **data.dashboardId** and **data.displayName** - Create Dashboard only.\n- **data.dashboardConfig** - Get Dashboard Metadata only.\n\n`viewId`, `workspaceId` and `orgId` are returned as strings even though the underlying values are long integers. `createdTime` and `lastModifiedTime` are epoch timestamps in milliseconds, as strings - divide by 1000 for epoch seconds. `sharedBy` is present on every entry, empty in owned items and populated with an email in shared ones. `isFavorite` is user specific and reflects the requesting user.\n\n`dashboardConfig.objId`, `data.dashboardId` and `viewId` are the same value under three different names.\n\n## Update replaces sections wholesale\n\nUpdate Dashboard does not merge. When `layout`, `themes` or `settings` is included, every stored row for that section is deleted and exactly what was sent is stored in its place. Sending `{\"settings\":{\"enableGlobalUF\":\"true\"}}` reverts every other setting to its system default. A section left out of the CONFIG is not touched.\n\n**Read-modify-write**\n\n1. `GET .../metadata?CONFIG={\"include\":\"settings\"}` to fetch just the section being changed.\n2. Merge the change into the returned object, keeping every key that came back.\n3. `PUT` the complete section.\n\n**Adding a layout card without losing the others**\n\nThe layout is a complete card map keyed by index string. Fetch it with `include=layout`, append the new card under the next sequential key, and PUT the whole map back.\n\n**Cloning a dashboard**\n\nFetch the full metadata, take `layout`, `themes` and `settings` from `dashboardConfig`, drop `objId`, `displayName` and `description` (they are read-only in the response and are not valid Create CONFIG fields other than `displayName`/`description`, which must be supplied fresh), then POST with a new `displayName`. The `viewName` values inside `layout` must match views that exist in the target workspace.\n\n## Behaviour worth knowing before the first call\n\n| Case | Behaviour | Recommendation |\n|---|---|---|\n| Partial `settings` on Update | Only the keys sent are stored; the rest revert to defaults. | Send the full settings object fetched via GET. |\n| Section omitted on Update | Left unchanged. | Include only the sections being replaced. |\n| `layoutType` grid preset (1-4) | The server auto-injects a USERFILTERS card at index `\"1\"` and rearranges view cards into columns, renumbering the input. | Omit `layoutType`, or send 0, for free form layouts; confirm with a GET afterwards. |\n| `viewName` in a layout card | Identifies an analysis view by display name, not ID. A renamed or deleted view renders as a broken card. | Verify view names through the Reports APIs first. |\n| Resetting the theme | `{\"themes\":{\"default\":\"true\"}}` clears all theme customization in one call. | Use it to undo theme changes without knowing the original values. |\n| Tabbed dashboards | Get Dashboard Metadata and Update Dashboard fail with error 8102. | Check the dashboard type first. |\n| `include` with several sections | `include=themes,layout` returns both sections but omits `objId`, `displayName` and `description`. | Use `include=all` when identity fields are needed, such as for clone workflows. |\n| Scalar types in the response | Theme and settings scalars come back as strings even where the CONFIG accepts numbers. | Coerce before comparing, and send back the form the CONFIG documents. |"
    }
  ],
  "paths": {
    "/restapi/v2/workspaces/{workspace-id}/reports": {
      "post": {
        "tags": [
          "Reports"
        ],
        "summary": "Create Analysis View",
        "description": "Creates a new analysis view - a chart, a pivot table or a summary view - in the specified workspace, based on a referenced base table. The view is configured through the CONFIG JSON parameter, which specifies the report type, the axis columns, the filters and the visualization settings.\n\nThe authenticated user must be an Account Admin or an Organization Admin, or a Workspace Admin, or a Shared User, or a Group Member, or any user with Create Report permission on the workspace.\n\n**Notes**\n\n> Note:\n>\n> This is a workspace-scoped API. The **ZANALYTICS-ORGID** header carrying the organization ID that owns the workspace is mandatory. A workspaceKey in the format **orgid/workspacename** (for example, 700000123456/Sales_Analytics) may be used in place of the numeric workspace ID in the URL path.\n\n> Note:\n>\n> The CONFIG parameter must be sent as a URL encoded JSON string in a form field named **CONFIG**, with the content type **application/x-www-form-urlencoded**.\n\n> Note:\n>\n> Axis type casing differs between request and response. The Create and Update samples use camelCase (**xAxis**, **yAxis**, **colorAxis**), while Get Report Metadata returns the lowercase forms (**xaxis**, **yaxis**, **coloraxis**, **sizeaxis**, **textaxis**, **groupby**, **summarize**), which the documentation states are the canonical values. When building a Create or Update CONFIG from a Get Report Metadata response, copy the axis type values verbatim.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Provide a valid workspace ID in the URL. |\n| 7104 | The specified base table does not exist in the workspace. | Ensure baseTableName matches an existing table in the workspace. |\n| 7111 | A view with the given title already exists in the workspace. | Choose a title that is unique within the workspace. |\n| 7301 | User does not have permission to create a report. | Ensure the user is an Account Admin, Organization Admin, Workspace Admin, Shared User, Group Member, or has Create Report permission on the workspace. |\n| 8021 | Invalid view type specified. | Set reportType to chart, pivot or summary. |\n| 8050 | Invalid value provided. | Check that all CONFIG field values are within the allowed ranges and types. |\n| 8075 | Invalid chart type parameter. | Provide a valid chartType value, such as bar, line or pie. |\n| 8119 | Invalid value for attribute. | Verify that all attribute values in axisColumns, filters and settings conform to the allowed constraints. |\n| 8252 | Invalid report type. | Ensure reportType is chart, pivot or summary. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token in the Authorization header. |",
        "operationId": "createReport",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace in which the analysis view is created.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateReportConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "barChartRankingFilter": {
                  "description": "Creates a bar chart of sales by product, restricted to the top five products by average cost.",
                  "summary": "Bar chart",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "reportType": "chart",
                      "chartType": "bar",
                      "title": "Top Products by Average Cost",
                      "description": "Bar chart filtered to top 5 products by average cost",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Product",
                          "tableName": "Sales",
                          "operation": "actual"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "tableName": "Sales",
                          "operation": "sum"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Date",
                          "tableName": "Sales",
                          "operation": "count"
                        }
                      ],
                      "filters": [
                        {
                          "columnName": "Cost",
                          "tableName": "Sales",
                          "operation": "average",
                          "filterType": "ranking",
                          "values": [
                            "Top 5"
                          ],
                          "rankingColumn": "Product Category",
                          "exclude": false
                        }
                      ]
                    }
                  }
                },
                "pivotWithWindowFunctions": {
                  "description": "Creates a pivot table of product by year with percentage-of-total and percentage-of-column calculations, and explicit layout and theme settings.",
                  "summary": "Pivot table",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "reportType": "pivot",
                      "title": "Sales Pivot - Region by Year",
                      "description": "Pivot showing sales and cost with percentage-of-total calculations",
                      "axisColumns": [
                        {
                          "type": "row",
                          "columnName": "Product",
                          "operation": "actual"
                        },
                        {
                          "type": "row",
                          "columnName": "Date",
                          "operation": "dateTime"
                        },
                        {
                          "type": "column",
                          "columnName": "Date",
                          "operation": "year"
                        },
                        {
                          "type": "data",
                          "columnName": "Sales",
                          "operation": "average",
                          "windowFunction": {
                            "type": "pctOfTotal"
                          }
                        },
                        {
                          "type": "data",
                          "columnName": "Cost",
                          "operation": "stdDev"
                        },
                        {
                          "type": "data",
                          "columnName": "Sales",
                          "operation": "distinctCount",
                          "windowFunction": {
                            "type": "pctOfCol",
                            "baseField": "Product",
                            "baseFieldPosition": "row"
                          }
                        }
                      ],
                      "settings": {
                        "layout": {
                          "defaultWidth": 143
                        },
                        "themes": {
                          "themeType": 4,
                          "themeFontSize": 14,
                          "themeRowSpacing": 2
                        }
                      }
                    }
                  }
                },
                "comboChartMergedAxes": {
                  "description": "Creates a combo chart whose two y-axes are merged onto a single scale, with a multi-select product user filter, placed in a specific folder.",
                  "summary": "Merged axes chart",
                  "value": {
                    "CONFIG": {
                      "baseTableName": "Sales",
                      "reportType": "chart",
                      "chartType": "combo",
                      "title": "Sales vs Cost - Merged Axes",
                      "description": "Combo chart with two y-axes merged and a multi-select product filter",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Product",
                          "tableName": "Sales",
                          "operation": "actual",
                          "displayName": ""
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "tableName": "Sales",
                          "operation": "min"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Cost",
                          "tableName": "Sales",
                          "operation": "sum"
                        }
                      ],
                      "isAxisMerge": true,
                      "mergeAxisInfo": [
                        {
                          "axisIndex": [
                            2,
                            3
                          ],
                          "labelName": "Sales & Cost"
                        }
                      ],
                      "userFilters": [
                        {
                          "tableName": "Sales",
                          "columnName": "Product",
                          "operation": "actual",
                          "compType": "multiSelect",
                          "filterType": "individualValues",
                          "isallval": false,
                          "values": [
                            "Bread",
                            "CD"
                          ],
                          "exclude": false
                        }
                      ],
                      "folderId": 466206000000091001
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The analysis view was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                },
                "examples": {
                  "chartCreated": {
                    "description": "A chart view was created and its view ID returned.",
                    "summary": "Chart created",
                    "value": {
                      "status": "success",
                      "summary": "Chart view created successfully.",
                      "data": {
                        "viewId": "466206000000105001"
                      }
                    }
                  },
                  "pivotCreated": {
                    "description": "A pivot view was created and its view ID returned.",
                    "summary": "Pivot created",
                    "value": {
                      "status": "success",
                      "summary": "Pivot view created successfully.",
                      "data": {
                        "viewId": "466206000000106002"
                      }
                    }
                  },
                  "summaryCreated": {
                    "description": "A summary view was created and its view ID returned.",
                    "summary": "Summary created",
                    "value": {
                      "status": "success",
                      "summary": "Summary view created successfully.",
                      "data": {
                        "viewId": "466206000000107003"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/reports/{view-id}": {
      "put": {
        "tags": [
          "Reports"
        ],
        "summary": "Update Analysis View",
        "description": "Resets and updates the configuration of an existing analysis view in the specified workspace. The whole view configuration - axis columns, filters, user filters, chart type and settings - is replaced with the values provided in the CONFIG parameter, so anything that is omitted reverts to its empty default. Fetch the current configuration with Get Report Metadata, modify it, and send the complete object back.\n\nThe authenticated user must be an Account Admin or an Organization Admin, or the View Owner, or a Shared User, or a Group Member, or any user with Design Modify permission on the view.\n\n**Notes**\n\n> Note:\n>\n> This is a workspace-scoped API. The **ZANALYTICS-ORGID** header carrying the organization ID that owns the workspace is mandatory. A workspaceKey in the format **orgid/workspacename** (for example, 700000123456/Sales_Analytics) may be used in place of the numeric workspace ID in the URL path.\n\n> Note:\n>\n> The CONFIG parameter must be sent as a URL encoded JSON string in a form field named **CONFIG**, with the content type **application/x-www-form-urlencoded**.\n\n> Note:\n>\n> The following fields cannot be changed through Update Analysis View:\n> - **title** - silently ignored; the existing display name is always preserved.\n> - **folderId** - the request fails if the value differs from the view's current folder. Omit it entirely.\n> - **reportType** - must match the existing view type. A mismatch fails with error code 8021.\n> - **baseTableName** - derived from the view's stored parent reference. Sending it is harmless but has no effect.\n\n> Note:\n>\n> Axis type casing differs between request and response. The Create and Update samples use camelCase (**xAxis**, **yAxis**, **colorAxis**), while Get Report Metadata returns the lowercase forms (**xaxis**, **yaxis**, **coloraxis**, **sizeaxis**, **textaxis**, **groupby**, **summarize**), which the documentation states are the canonical values. When building a Create or Update CONFIG from a Get Report Metadata response, copy the axis type values verbatim.\n\n> Note:\n>\n> This API returns no response body on success - only an HTTP 204 No Content status. There is no JSON payload to parse; check the HTTP status code alone. Only failure responses carry a JSON error payload.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Provide a valid workspace ID in the URL. |\n| 7104 | The specified view does not exist. | Ensure the view ID in the URL corresponds to an existing analysis view. |\n| 7111 | A view with the given title already exists in the workspace. | Choose a title that is unique within the workspace. |\n| 7301 | User does not have permission to update this view. | Ensure the user is an Account Admin, Organization Admin, View Owner, Shared User, Group Member, or has Design Modify permission on the view. |\n| 8021 | Invalid view type specified. | Set reportType to chart, pivot or summary. It must match the existing view type. |\n| 8050 | Invalid value provided. | Check that all CONFIG field values are within the allowed ranges and types. |\n| 8075 | Invalid chart type parameter. | Provide a valid chartType value, such as bar, line or pie. |\n| 8100 | Operation not supported for this analysis view widget. | Ensure the update operation is valid for the current view type. |\n| 8119 | Invalid value for attribute. | Verify that all attribute values in axisColumns, filters and settings conform to the allowed constraints. |\n| 8252 | Invalid report type. | Ensure reportType is chart, pivot or summary. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token in the Authorization header. |",
        "operationId": "updateReport",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the analysis view.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          },
          {
            "name": "view-id",
            "in": "path",
            "required": true,
            "description": "ID of the analysis view to update.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000105001"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/UpdateReportConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "changeChartType": {
                  "description": "Switches the view to a line chart and replaces its axis columns with a month-year x-axis and two measures.",
                  "summary": "Chart type change",
                  "value": {
                    "CONFIG": {
                      "reportType": "chart",
                      "chartType": "line",
                      "description": "Rolling 12-month trend",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Date",
                          "tableName": "Sales",
                          "operation": "monthYear"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "tableName": "Sales",
                          "operation": "sum"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Cost",
                          "tableName": "Sales",
                          "operation": "sum"
                        }
                      ]
                    }
                  }
                },
                "pivotWithFilter": {
                  "description": "Replaces the axis configuration of a pivot view, applies a year filter and sets the layout and theme.",
                  "summary": "Pivot filter update",
                  "value": {
                    "CONFIG": {
                      "reportType": "pivot",
                      "axisColumns": [
                        {
                          "type": "row",
                          "columnName": "Region",
                          "tableName": "Sales"
                        },
                        {
                          "type": "column",
                          "columnName": "Date",
                          "tableName": "Sales",
                          "operation": "year"
                        },
                        {
                          "type": "data",
                          "columnName": "Sales",
                          "tableName": "Sales",
                          "operation": "sum"
                        }
                      ],
                      "filters": [
                        {
                          "columnName": "Date",
                          "tableName": "Sales",
                          "operation": "actual",
                          "filterType": "year",
                          "values": [
                            "2024",
                            "2025"
                          ],
                          "exclude": false
                        }
                      ],
                      "settings": {
                        "layout": {
                          "defaultWidth": 120
                        },
                        "themes": {
                          "themeType": 2,
                          "themeFontSize": 13,
                          "themeRowSpacing": 2
                        }
                      }
                    }
                  }
                },
                "enableAxisMerge": {
                  "description": "Turns on axis merge across two of the y-axes of a combo chart and applies a custom theme.",
                  "summary": "Enable axis merge",
                  "value": {
                    "CONFIG": {
                      "reportType": "chart",
                      "chartType": "combo",
                      "axisColumns": [
                        {
                          "type": "xAxis",
                          "columnName": "Product",
                          "tableName": "Sales",
                          "operation": "actual"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Sales",
                          "tableName": "Sales",
                          "operation": "sum"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Date",
                          "tableName": "Sales",
                          "operation": "count"
                        },
                        {
                          "type": "yAxis",
                          "columnName": "Cost",
                          "tableName": "Sales",
                          "operation": "count"
                        }
                      ],
                      "isAxisMerge": true,
                      "mergeAxisInfo": [
                        {
                          "axisIndex": [
                            2,
                            5
                          ],
                          "labelName": "Sales & Cost Metrics"
                        }
                      ],
                      "settings": {
                        "themes": {
                          "themeType": 3,
                          "themeColor": "#4A90D9",
                          "themeFontSize": 12,
                          "themeRowSpacing": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "The analysis view was updated successfully. No response body is returned."
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/reports/{view-id}/metadata": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get Report Metadata",
        "description": "Retrieves the full configuration metadata of an existing analysis view - a chart, a pivot table or a summary view - in the specified workspace. The response carries the report type, the chart sub-type, the axis column definitions, the applied filters and the visualization settings exactly as they are stored.\n\nThe returned `reportConfig` is structurally identical to the Create Analysis View CONFIG, which makes this API the first step of any safe update or clone workflow.\n\nThe authenticated user must be an Account Admin or an Organization Admin, or the View Owner, or any user with Design Modify permission on the view.\n\n**Notes**\n\n> Note:\n>\n> This is a workspace-scoped API. The **ZANALYTICS-ORGID** header carrying the organization ID that owns the workspace is mandatory. A workspaceKey in the format **orgid/workspacename** (for example, 700000123456/Sales_Analytics) may be used in place of the numeric workspace ID in the URL path.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Provide a valid workspace ID in the URL. |\n| 7104 | The specified view does not exist in the workspace. | Ensure the view ID in the URL corresponds to an existing analysis view. |\n| 7301 | User does not have permission to view this report's metadata. | Ensure the user is an Account Admin, Organization Admin, View Owner, or has Design Modify permission on the view. |\n| 8021 | Invalid view type for the requested operation. | Ensure the target view is an analysis view - a chart, pivot or summary view. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token in the Authorization header. |",
        "operationId": "getReportMetadata",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the analysis view.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000071000"
              ]
            }
          },
          {
            "name": "view-id",
            "in": "path",
            "required": true,
            "description": "ID of the analysis view whose metadata is retrieved.",
            "schema": {
              "type": "string",
              "examples": [
                "466206000000105001"
              ]
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The metadata of the analysis view was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReportMetadataResponse"
                },
                "examples": {
                  "barChartMetadata": {
                    "description": "A chart view with a single dimension on the x-axis and a single aggregated measure on the y-axis - the minimum reportConfig structure.",
                    "summary": "Simple bar chart",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Bar Chart Report",
                          "description": "Vertical bar chart",
                          "reportType": "chart",
                          "chartType": "bar",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Product",
                              "tableName": "Sales",
                              "operation": "actual"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "bubbleChartMetadata": {
                    "description": "A bubble chart using three axis types, where the sizeaxis entry drives the bubble size.",
                    "summary": "Bubble chart",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Bubble Chart",
                          "description": "Bubble chart visualization",
                          "reportType": "chart",
                          "chartType": "bubble",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Product",
                              "tableName": "Sales",
                              "operation": "actual"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            },
                            {
                              "type": "sizeaxis",
                              "columnName": "Cost",
                              "tableName": "Sales",
                              "operation": "average"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "colorAxisMetadata": {
                    "description": "A stacked bar chart that splits the bars by a categorical dimension through a coloraxis entry.",
                    "summary": "Color grouped chart",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Stacked Bar Chart",
                          "description": "Stacked vertical bar chart",
                          "reportType": "chart",
                          "chartType": "stacked bar",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Date",
                              "tableName": "Sales",
                              "operation": "year"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            },
                            {
                              "type": "coloraxis",
                              "columnName": "Product",
                              "tableName": "Sales",
                              "operation": "actual"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "filteredChartMetadata": {
                    "description": "A chart saved with an active year filter, showing how the filters array is returned.",
                    "summary": "Filtered chart",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Date Filter Chart",
                          "reportType": "chart",
                          "chartType": "bar",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Date",
                              "tableName": "Sales",
                              "operation": "year"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ],
                          "filters": [
                            {
                              "tableName": "Sales",
                              "columnName": "Date",
                              "operation": "actual",
                              "filterType": "year",
                              "values": [
                                "2012",
                                "2013"
                              ],
                              "exclude": false
                            }
                          ]
                        }
                      }
                    }
                  },
                  "mergedAxisMetadata": {
                    "description": "A combo chart with axis merge active, where isAxisMerge is true and both y-axis columns are listed.",
                    "summary": "Merged axes chart",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Chart With Axis Merge",
                          "description": "Chart with axis merge enabled",
                          "reportType": "chart",
                          "chartType": "combo",
                          "baseTableName": "Sales",
                          "isAxisMerge": true,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Date",
                              "tableName": "Sales",
                              "operation": "year"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Cost",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "wildcardFilterMetadata": {
                    "description": "A chart saved with two wildcard filters on different columns, showing multiple entries in the filters array.",
                    "summary": "Wildcard filters",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "V2_Chart Multiple Wildcard Filters",
                          "description": "Chart with multiple wildcard filters on different columns",
                          "reportType": "chart",
                          "chartType": "bar",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Product",
                              "tableName": "Sales",
                              "operation": "actual"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ],
                          "filters": [
                            {
                              "tableName": "Sales",
                              "columnName": "Product",
                              "operation": "actual",
                              "filterType": "wildcard",
                              "values": [],
                              "exclude": false
                            },
                            {
                              "tableName": "Sales",
                              "columnName": "Region",
                              "operation": "actual",
                              "filterType": "wildcard",
                              "values": [],
                              "exclude": false
                            }
                          ]
                        }
                      }
                    }
                  },
                  "heatMapMetadata": {
                    "description": "A heat map where the color axis carries the aggregated measure rather than a grouping dimension.",
                    "summary": "Heat map chart",
                    "value": {
                      "status": "success",
                      "summary": "Get analysis view metadata",
                      "data": {
                        "reportConfig": {
                          "title": "Heat Map Chart",
                          "description": "Heat map visualization",
                          "reportType": "chart",
                          "chartType": "heat map",
                          "baseTableName": "Sales",
                          "isAxisMerge": false,
                          "axisColumns": [
                            {
                              "type": "xaxis",
                              "columnName": "Product",
                              "tableName": "Sales",
                              "operation": "actual"
                            },
                            {
                              "type": "yaxis",
                              "columnName": "Date",
                              "tableName": "Sales",
                              "operation": "year"
                            },
                            {
                              "type": "coloraxis",
                              "columnName": "Sales",
                              "tableName": "Sales",
                              "operation": "sum"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get All Dashboards",
        "description": "Returns all dashboards accessible to the authenticated user - both those owned by the user and those shared with them - across every organization and workspace. The response groups the results into two separate lists, `ownedViews` and `sharedViews`.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user may be any active Zoho Analytics user.\n\n**Notes**\n\n> Note:\n>\n> Get Shared Dashboards is available on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped dashboard APIs are accessible on custom domains subject to additional permission checks.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | User does not have permission to retrieve dashboards. | Ensure the request uses a valid OAuth token for an active Zoho Analytics user. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token in the Authorization header. |",
        "operationId": "getDashboards",
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardsResponse"
                },
                "examples": {
                  "ownedAndShared": {
                    "description": "The user owns two dashboards and has one more shared with them.",
                    "summary": "Owned and shared",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000108003",
                            "viewName": "Marketing Campaign Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071000",
                            "createdTime": "1720080000000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1720080000000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ],
                        "sharedViews": [
                          {
                            "viewId": "466206000000200010",
                            "viewName": "Finance Overview",
                            "viewDesc": "Finance team quarterly dashboard",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000190001",
                            "createdTime": "1718640000000",
                            "createdBy": "bob@example.com",
                            "lastModifiedTime": "1721001600000",
                            "lastModifiedBy": "bob@example.com",
                            "isFavorite": false,
                            "sharedBy": "bob@example.com",
                            "workspaceId": "466206000000190000",
                            "orgId": "700000123456"
                          }
                        ]
                      }
                    }
                  },
                  "ownedOnly": {
                    "description": "The user owns one dashboard and nothing has been shared with them, so sharedViews comes back empty.",
                    "summary": "Owned only",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ],
                        "sharedViews": []
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "The user has no dashboards at all and both lists come back empty.",
                    "summary": "No dashboards",
                    "value": {
                      "status": "success",
                      "summary": "Get all dashboards",
                      "data": {
                        "ownedViews": [],
                        "sharedViews": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards/owned": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Owned Dashboards",
        "description": "Returns the list of dashboards owned by the authenticated user across every organization, as a single `views` array.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user must be an Account Admin.\n\n**Notes**\n\n> Note:\n>\n> Get Shared Dashboards is available on custom domains. Get All Dashboards and Get Owned Dashboards are disabled on custom domains. The workspace-scoped dashboard APIs are accessible on custom domains subject to additional permission checks.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | User does not have permission to retrieve owned dashboards. | Ensure the authenticated user is an Account Admin. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token in the Authorization header. |",
        "operationId": "getOwnedDashboards",
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardListResponse"
                },
                "examples": {
                  "multipleWorkspaces": {
                    "description": "The Account Admin owns dashboards in two different workspaces and organizations.",
                    "summary": "Multiple workspaces",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000105001",
                            "viewName": "Executive Sales Dashboard",
                            "viewDesc": "High-level sales KPIs for the executive team",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071005",
                            "createdTime": "1719820800000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1722499200000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": true,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000305020",
                            "viewName": "HR Headcount Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000300000",
                            "createdTime": "1716912000000",
                            "createdBy": "admin@example.com",
                            "lastModifiedTime": "1720339200000",
                            "lastModifiedBy": "admin@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000300000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "singleDashboard": {
                    "description": "The Account Admin owns one dashboard.",
                    "summary": "Single dashboard",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000108003",
                            "viewName": "Marketing Campaign Overview",
                            "viewDesc": "",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000071000",
                            "createdTime": "1720080000000",
                            "createdBy": "alice@example.com",
                            "lastModifiedTime": "1720080000000",
                            "lastModifiedBy": "alice@example.com",
                            "isFavorite": false,
                            "sharedBy": "",
                            "workspaceId": "466206000000071000",
                            "orgId": "700000123456"
                          }
                        ]
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "The Account Admin owns no dashboards and the list comes back empty.",
                    "summary": "No dashboards",
                    "value": {
                      "status": "success",
                      "summary": "Get owned dashboards",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/dashboards/shared": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Shared Dashboards",
        "description": "Returns all dashboards that have been shared with the authenticated user across every organization and workspace, as a single `views` array. Unlike Get All Dashboards, this endpoint returns only shared dashboards, and it is also available on custom domains.\n\nThis API has no request parameters; all context is derived from the OAuth token. The authenticated user may be any active Zoho Analytics user.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7301 | User does not have permission to retrieve shared dashboards. | Ensure the request uses a valid OAuth token for an active Zoho Analytics user. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token in the Authorization header. |",
        "operationId": "getSharedDashboards",
        "parameters": [],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.metadata.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The list of dashboards was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardListResponse"
                },
                "examples": {
                  "multipleShared": {
                    "description": "Two dashboards from different organizations have been shared with the user; sharedBy carries the email of each sharer.",
                    "summary": "Multiple shared",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000200010",
                            "viewName": "Finance Overview",
                            "viewDesc": "Finance team quarterly dashboard",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000190001",
                            "createdTime": "1718640000000",
                            "createdBy": "bob@example.com",
                            "lastModifiedTime": "1721001600000",
                            "lastModifiedBy": "bob@example.com",
                            "isFavorite": false,
                            "sharedBy": "bob@example.com",
                            "workspaceId": "466206000000190000",
                            "orgId": "700000123456"
                          },
                          {
                            "viewId": "466206000000410055",
                            "viewName": "Supply Chain Dashboard",
                            "viewDesc": "Inventory and logistics metrics",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000400000",
                            "createdTime": "1714780800000",
                            "createdBy": "carol@example.com",
                            "lastModifiedTime": "1719993600000",
                            "lastModifiedBy": "carol@example.com",
                            "isFavorite": true,
                            "sharedBy": "carol@example.com",
                            "workspaceId": "466206000000400000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "favoriteShared": {
                    "description": "One shared dashboard that the requesting user has marked as a favorite.",
                    "summary": "Favorite shared",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": [
                          {
                            "viewId": "466206000000410055",
                            "viewName": "Supply Chain Dashboard",
                            "viewDesc": "Inventory and logistics metrics",
                            "viewType": "Dashboard",
                            "parentViewId": "",
                            "folderId": "466206000000400000",
                            "createdTime": "1714780800000",
                            "createdBy": "carol@example.com",
                            "lastModifiedTime": "1719993600000",
                            "lastModifiedBy": "carol@example.com",
                            "isFavorite": true,
                            "sharedBy": "carol@example.com",
                            "workspaceId": "466206000000400000",
                            "orgId": "700000998877"
                          }
                        ]
                      }
                    }
                  },
                  "noDashboards": {
                    "description": "Nothing has been shared with the user and the list comes back empty.",
                    "summary": "No dashboards",
                    "value": {
                      "status": "success",
                      "summary": "Get shared dashboards",
                      "data": {
                        "views": []
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/dashboards": {
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Create Dashboard",
        "description": "Creates a new dashboard in the specified workspace. The dashboard is defined through the CONFIG JSON parameter, which carries the display name, the layout card map and, optionally, the visual theme and the behaviour settings.\n\nThe authenticated user must be an Account Admin or an Organization Admin, or a Workspace Admin, or a Shared User, or a Group Member, or any user with Create Report permission on the workspace.\n\n**Notes**\n\n> Note:\n>\n> This is a workspace-scoped API. The **ZANALYTICS-ORGID** header carrying the organization ID that owns the workspace is mandatory. A workspaceKey in the format **orgid/workspacename** (for example, 700000123456/Sales_Analytics) may be used in place of the numeric workspace ID in the URL path.\n\n> Note:\n>\n> A VIEW card identifies an analysis view by its display name in **viewName**, not by its ID. If the referenced view is renamed or deleted the card renders as broken, and when cloning across workspaces the **viewName** values must be updated to match views that exist in the target workspace.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify that the workspace ID in the URL is correct and accessible to the user. |\n| 7111 | A dashboard with the same name already exists in the workspace. | Use a different displayName value. |\n| 7301 | User does not have permission to create a dashboard. | Ensure the user is an Account Admin, Organization Admin, Workspace Admin, Shared User, Group Member, or has Create Report permission. |\n| 8072 | The target object is not a valid dashboard. | Verify the request parameters and ensure the workspace supports dashboard creation. |\n| 8119 | One or more CONFIG field values are invalid, such as an invalid color or an out-of-range number. | Review the CONFIG JSON and correct the invalid values. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token with the ZohoAnalytics.modeling.create scope. |",
        "operationId": "createDashboard",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace in which the dashboard is created.",
            "schema": {
              "type": "string",
              "examples": [
                "320873000000001001"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "CONFIG"
                ],
                "properties": {
                  "CONFIG": {
                    "$ref": "#/components/schemas/CreateDashboardConfig"
                  }
                }
              },
              "encoding": {
                "CONFIG": {
                  "contentType": "application/json"
                }
              },
              "examples": {
                "minimalDashboard": {
                  "description": "Creates a free form dashboard holding two view cards side by side, with the default theme.",
                  "summary": "Minimal dashboard",
                  "value": {
                    "CONFIG": {
                      "displayName": "Sales Overview",
                      "description": "Monthly sales KPIs",
                      "layout": {
                        "1": {
                          "type": "VIEW",
                          "width": 40,
                          "height": 20,
                          "left": 0,
                          "top": 0,
                          "viewName": "Monthly_Sales_Chart",
                          "properties": {}
                        },
                        "2": {
                          "type": "VIEW",
                          "width": 40,
                          "height": 20,
                          "left": 40,
                          "top": 0,
                          "viewName": "Sales_Pivot",
                          "properties": {}
                        }
                      }
                    }
                  }
                },
                "gradientThemeDashboard": {
                  "description": "Creates a dashboard with a linear gradient background, custom card styling, a global user filter and exports restricted to CSV.",
                  "summary": "Gradient theme",
                  "value": {
                    "CONFIG": {
                      "displayName": "Dashboard_Gradient_Linear_3",
                      "themes": {
                        "layoutType": 6,
                        "type": "gradient",
                        "gradient": {
                          "background": "#bf00ff",
                          "startColor": "#bf00ff",
                          "endColor": "#000000",
                          "mode": "linear",
                          "linear": {
                            "angle": 270
                          }
                        },
                        "font": {
                          "color": "#bf00ff",
                          "family": "arial"
                        },
                        "card": {
                          "background": "#00ff00",
                          "opacity": 0.2,
                          "blur": 5,
                          "margin": 10,
                          "radius": 5,
                          "shadow": 3,
                          "paletteType": 2
                        },
                        "chartEffect": {
                          "apply": 2,
                          "type": 1
                        },
                        "palette": {
                          "chart": {
                            "type": "SOLID__BUSINESS"
                          }
                        }
                      },
                      "settings": {
                        "allowDrillDown": "true",
                        "smartAlignCharts": "true",
                        "reportAsFilter": "true",
                        "showContextualOptions": "false",
                        "allowExport": {
                          "csv": "true"
                        },
                        "fitToWidth": "false",
                        "enableGlobalUF": "true",
                        "applyImmediateUF": "true"
                      },
                      "layout": {
                        "1": {
                          "type": "VIEW",
                          "width": 40,
                          "height": 20,
                          "left": 0,
                          "top": 8,
                          "viewName": "Chart2",
                          "properties": {}
                        },
                        "2": {
                          "type": "USERFILTERS",
                          "width": 80,
                          "height": 3,
                          "left": 0,
                          "top": 0
                        }
                      }
                    }
                  }
                },
                "imageThemeDashboard": {
                  "description": "Creates a dashboard with an image background alongside an HTML card, an image card and a view card.",
                  "summary": "Image theme",
                  "value": {
                    "CONFIG": {
                      "displayName": "Dashboard_Image_Theme_6",
                      "themes": {
                        "layoutType": 6,
                        "type": "image",
                        "image": {
                          "url": "https://example.com/bg.jpg",
                          "brightness": 2,
                          "flip": "true",
                          "transparency": "40",
                          "fitType": "2",
                          "contrast": 5,
                          "background": "#bf00ff"
                        },
                        "font": {
                          "color": "#bf00ff",
                          "family": "arial"
                        },
                        "card": {
                          "background": "#00ff00",
                          "opacity": 0.2,
                          "blur": 5,
                          "margin": 10,
                          "radius": 5,
                          "shadow": 3,
                          "paletteType": 2
                        },
                        "chartEffect": {
                          "apply": 1
                        },
                        "palette": {
                          "chart": {
                            "type": "SOLID__BUSINESS"
                          }
                        }
                      },
                      "layout": {
                        "1": {
                          "type": "HTML",
                          "width": 80,
                          "height": 5,
                          "left": 0,
                          "top": 0,
                          "content": "<div><h2 style=\"font-family: Arial\">Dashboard Header</h2></div>"
                        },
                        "2": {
                          "type": "IMAGE",
                          "width": 40,
                          "height": 15,
                          "left": 0,
                          "top": 5,
                          "content": "https://example.com/logo.png"
                        },
                        "3": {
                          "type": "VIEW",
                          "width": 40,
                          "height": 20,
                          "left": 40,
                          "top": 5,
                          "viewName": "Pivot",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.create"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The dashboard was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDashboardResponse"
                },
                "examples": {
                  "dashboardCreated": {
                    "description": "The dashboard was created; the response returns its ID and the display name as stored.",
                    "summary": "Dashboard created",
                    "value": {
                      "status": "success",
                      "summary": "Create dashboard",
                      "data": {
                        "dashboardId": "320873000000597763",
                        "displayName": "Sales Overview"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/CommonErrorResponse"
          },
          "500": {
            "$ref": "https://raw.githubusercontent.com/zoho/analytics-oas/refs/heads/main/v2.0/common/zoho-analytics-api-common.json#/components/responses/UnexpectedErrorResponse"
          }
        }
      }
    },
    "/restapi/v2/workspaces/{workspace-id}/dashboards/{dashboard-id}/metadata": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get Dashboard Metadata",
        "description": "Retrieves the stored configuration of a dashboard in the specified workspace - its identity attributes, the visual theme, the layout card map and the behaviour settings. The optional CONFIG parameter narrows the response to specific sections.\n\nThis is the first step of any safe update: fetch the section to be changed, merge the change into it, then send the complete section back through Update Dashboard.\n\nThe authenticated user must be an Account Admin or an Organization Admin, or the View Owner, or any user with Read Only permission on the dashboard.\n\n**Notes**\n\n> Note:\n>\n> This is a workspace-scoped API. The **ZANALYTICS-ORGID** header carrying the organization ID that owns the workspace is mandatory. A workspaceKey in the format **orgid/workspacename** (for example, 700000123456/Sales_Analytics) may be used in place of the numeric workspace ID in the URL path.\n\n> Note:\n>\n> **dashboardConfig.objId** in the metadata response, **data.dashboardId** in the Create Dashboard response and **viewId** in the listing APIs are the same value under three different field names. Any of them can be used as the dashboard ID in the URL path.\n\n> Note:\n>\n> Tabbed dashboards are not supported by the V2 API. Calling this API on a tabbed dashboard fails with error code 8102.\n\n**Error codes**\n\n| Code | Meaning | Resolution |\n| --- | --- | --- |\n| 7103 | Workspace not found. | Verify the workspace ID in the URL. |\n| 7104 | Dashboard not found. | Verify that the dashboard ID exists and belongs to the specified workspace. |\n| 7301 | User does not have permission to view this dashboard. | Ensure the user is an Account Admin, Organization Admin, View Owner, or has Read Only permission on the dashboard. |\n| 8072 | The target object is not a valid dashboard. | Verify that the dashboard ID refers to a dashboard rather than a report or another view type. |\n| 8102 | Dashboard view type not supported for this operation. | The dashboard may be a tabbed dashboard, which is not supported through this API. |\n| 8119 | Invalid value supplied for the include attribute. | Use one or more of all, themes, layout and settings. |\n| 8535 | Invalid OAuth token. | Provide a valid, non-expired OAuth token with the ZohoAnalytics.modeling.read scope. |",
        "operationId": "getDashboardMetadata",
        "parameters": [
          {
            "name": "ZANALYTICS-ORGID",
            "in": "header",
            "required": true,
            "description": "ID of the organization that owns the workspace.",
            "schema": {
              "type": "string",
              "examples": [
                "700000123456"
              ]
            }
          },
          {
            "name": "workspace-id",
            "in": "path",
            "required": true,
            "description": "ID of the workspace that contains the dashboard.",
            "schema": {
              "type": "string",
              "examples": [
                "320873000000001001"
              ]
            }
          },
          {
            "name": "dashboard-id",
            "in": "path",
            "required": true,
            "description": "ID of the dashboard whose metadata is retrieved.",
            "schema": {
              "type": "string",
              "examples": [
                "320873000000597763"
              ]
            }
          },
          {
            "name": "CONFIG",
            "in": "query",
            "required": false,
            "description": "JSONObject controlling which sections of the dashboard configuration are returned. If it is omitted, every section is returned.\n\n> **Note:** As this is a GET request, the value must be stringified and URL encoded before it is sent.",
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/GetDashboardMetadataConfig"
            },
            "examples": {
              "fullMetadata": {
                "description": "Returns every section together with the objId, displayName and description identity fields.",
                "summary": "Full metadata",
                "value": {
                  "include": "all"
                }
              },
              "layoutOnly": {
                "description": "Returns just the layout card map, which is the section to fetch before appending a card.",
                "summary": "Layout only",
                "value": {
                  "include": "layout"
                }
              },
              "themesAndSettings": {
                "description": "Returns two sections at once through a comma separated list.",
                "summary": "Themes and settings",
                "value": {
                  "include": "themes,settings"
                }
              }
            }
          }
        ],
        "security": [
          {
            "iam-oauth2-schema": [
              "ZohoAnalytics.modeling.read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The metadata of the dashboard was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashboardMetadataResponse"
                },
                "examples": {
                  "defaultThemeDashboard": {
                    "description": "A free form dashboard on the default theme, holding a user filter card and a view card.",
                    "summary": "Default theme",
                    "value": {
                      "status": "success",
                      "summary": "Get dashboard metadata",
                      "data": {
                        "dashboardConfig": {
                          "objId": "320873000000597763",
                          "displayName": "Dashboard_Freeform_19",
                          "description": "",
                          "themes": {
                            "default": "true",
                            "layoutType": "2"
                          },
                          "settings": {
                            "enableGlobalUF": "false",
                            "smartAlignCharts": "true",
                            "allowExport": {
                              "pdf": "true",
                              "excel": "true",
                              "zohoSheet": "true",
                              "image": "true",
                              "csv": "true",
                              "html": "true"
                            },
                            "showContextualOptions": "true",
                            "allowEmbedInsights": "true",
                            "enableSortMenu": "true",
                            "reportAsFilter": "false",
                            "hideColumnOptions": "true",
                            "layoutWidth": "1279",
                            "allowVUD": "true",
                            "allowInsights": "true",
                            "fitToWidth": "true",
                            "layoutType": "web",
                            "allowDrillDown": "true",
                            "applyImmediateUF": "true",
                            "timeSlicer": "false"
                          },
                          "layout": {
                            "1": {
                              "type": "USERFILTERS",
                              "width": 80,
                              "height": 3,
                              "left": 0,
                              "top": 0
                            },
                            "2": {
                              "type": "VIEW",
                              "width": 80,
                              "height": 20,
                              "left": 0,
                              "top": 3,
                              "viewName": "Sales_Report"
                            }
                          }
                        }
                      }
                    }
                  },
                  "htmlCardDashboard": {
                    "description": "A dashboard whose first card renders styled HTML markup above an embedded pivot view.",
                    "summary": "HTML card",
                    "value": {
                      "status": "success",
                      "summary": "Get dashboard metadata",
                      "data": {
                        "dashboardConfig": {
                          "objId": "320873000000597796",
                          "displayName": "Dashboard_HtmlCard_26",
                          "description": "",
                          "themes": {
                            "default": "true",
                            "layoutType": "2"
                          },
                          "settings": {
                            "smartAlignCharts": "true",
                            "allowExport": {
                              "pdf": "true",
                              "excel": "true",
                              "zohoSheet": "true",
                              "image": "true",
                              "csv": "true",
                              "html": "true"
                            },
                            "fitToWidth": "true",
                            "allowDrillDown": "true",
                            "applyImmediateUF": "true"
                          },
                          "layout": {
                            "1": {
                              "type": "HTML",
                              "width": 80,
                              "height": 5,
                              "left": 0,
                              "top": 0,
                              "content": "<div><h2 style=\"font-family: Arial; color: #2c3e50;\">Dashboard Header</h2><p>This is a <strong>styled HTML</strong> content card.</p></div>"
                            },
                            "2": {
                              "type": "VIEW",
                              "width": 80,
                              "height": 20,
                              "left": 0,
                              "top": 5,
                              "viewName": "Pivot"
                            }
                          }
                        }
                      }
                    }
                  },
                  "imageCardDashboard": {
                    "description": "A dashboard on a solid theme, pairing an image card with a view card.",
                    "summary": "Image card",
                    "value": {
                      "status": "success",
                      "summary": "Get dashboard metadata",
                      "data": {
                        "dashboardConfig": {
                          "objId": "320873000000597718",
                          "displayName": "Dashboard_ImageCard_9",
                          "description": "",
                          "themes": {
                            "layoutType": "2",
                            "solid": {
                              "background": "#ffffff"
                            },
                            "type": "solid",
                            "card": {
                              "background": "#ffffff"
                            }
                          },
                          "settings": {
                            "smartAlignCharts": "true",
                            "allowExport": {
                              "pdf": "true",
                              "excel": "true",
                              "zohoSheet": "true",
                              "image": "true",
                              "csv": "true",
                              "html": "true"
                            },
                            "fitToWidth": "true",
                            "allowDrillDown": "true"
                          },
                          "layout": {
                            "1": {
                              "type": "IMAGE",
                              "width": 40,
                              "height": 15,
                              "left": 0,
                              "top": 0,
                              "content": "https://example.com/banner.jpg"
                            },
                            "2": {
                              "type": "VIEW",
                              "width": 40,
                              "height": 20,
                              "left": 40,
                              "top": 0,
                              "viewName": "Sales_Table"
                            }
                          }
                        }
                      }
                    }
                  },
                  "gradientThemeDashboard": {
                    "description": "A dashboard on a linear gradient theme with full card styling and exports restricted to CSV, showing how theme scalars are returned as strings.",
                    "summary": "Gradient theme",
                    "value": {
                      "status": "success",
                      "summary": "Get dashboard metadata",
                      "data": {
                        "dashboardConfig": {
                          "objId": "320873000000487179",
                          "displayName": "Dashboard_Gradient_Linear_3",
                          "description": "",
                          "themes": {
                            "card": {
                              "desc": {
                                "font": {
                                  "size": "9",
                                  "color": "#bf00ff",
                                  "family": "verdana",
                                  "style": "italic"
                                }
                              },
                              "shadow": "3",
                              "paletteType": "2",
                              "radius": "5",
                              "margin": "10",
                              "opacity": "0.2",
                              "background": "#00ff00",
                              "title": {
                                "font": {
                                  "size": "8",
                                  "family": "sans-serif",
                                  "style": "bold",
                                  "color": "#bf00ff"
                                }
[...]
